.card-back, .card-front {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-back__question {
  font-size: 1.5rem;
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
}

.card-front {
  transform: rotateY(180deg);
}

ul.multi {
  display: block;
  list-style-type: none;
  width: 100%;
  padding-top: 20px;
}

ul.multi li {
  display: inline;
  padding: 7px 5px;
  font-size: 16px;
  border-bottom: none;
}
