:root {
  --space: 1.5em;
  --space-lg: 2em;
  --space-xlg: 4em;
}

.footer {
  padding: 1.5rem;
  background: rgb(76, 86, 106);
  color: #ffffff;
  font-size: .85em;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
