.cardBack, .cardFront {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.cardBackQuestion {
  font-size: 1.5rem;
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
}

.cardFront {
  transform: rotateY(180deg);
}

.options {
  display: block;
  list-style-type: none;
  width: 100%;
  padding-top: 20px;
}

.option {
  display: block;
  text-align: left;
  padding: 7px 0;
  font-size: 16px;
  border-bottom: none;
}

.letter, .correct, .incorrect {
  float: left;
  width: 20px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

