.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.container {
  max-width: 1335px;
  margin: 0 auto;
  text-align: center;
}

.gridRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.gridItem {
  flex-basis: 20%;
  -ms-flex: auto;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 1333px) {
  .gridItem {
    flex-basis: 33.33%;
  }
}

@media (max-width: 1073px) {
  .gridItem {
    flex-basis: 33.33%;
  }
}

@media (max-width: 815px) {
  .gridItem {
    flex-basis: 50%;
  }
}

@media (max-width: 555px) {
  .gridItem {
    flex-basis: 100%;
  }
}

a.clickable {
  cursor: pointer;
  border-radius: 0.25em;
  padding: 0.15em 0.5em;
  color: rgb(76, 86, 106);
  font-weight: 600;
  transition: background-color 100ms ease-in-out 0s;
}

a.clickable:hover {
  background-color: rgb(236, 239, 244);
}
