.sidebar {
  font-weight: 600;
  flex-direction: row;
  justify-content: space-evenly;
}

.count {
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  margin: 4px;
}

@media (min-width: 768px) {
  .count {
    font-size: 1rem;
  }

  .sidebar {
    flex-direction: column;
    justify-content: center;
  }
}
