.heading {
  text-align: center;
}

ol.questions {
  padding: 0;
}

li.item {
  padding: 0.4em 0.1em;
  font-size: 1rem;
  line-height: 2rem;
}

.question {
  cursor: pointer;
  border-radius: 0.25em;
  padding: 0.15em 0.5em;
  font-weight: 600;
  transition: background-color 100ms ease-in-out 0s;
}
